<!DOCTYPE html>
<html>

<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/js/lib/bootstrap/dist/css/bootstrap4.1.3.min.css" rel="stylesheet" />
    <script src="~/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/css/Style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>


    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #3498db;position:sticky; top: 0; z-index: 2; height: 60px;">
        <h4 style="color: #fff; margin-left:40px;">Collabera</h4>
        <ul class="navbar-nav ml-auto">
            <li><h6><a href="@Url.Action("Logout","Home")"><i class="fas fa-sign-out-alt" style="font-size:30px;color:white;" data-toggle="tooltip" title="Logout"></i></a></h6></li>
            <li><p></p></li>
        </ul>
    </nav>
    <div id="wrapper" class="active">
        <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon"><i class="fa fa-bars" aria-hidden="true"></i></span></a></li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                <li ><a><button class="btn" ><i class="fa fa-book" aria-hidden="true" style="color:black; float:right; margin-right:15px; margin-top:1px; margin-bottom:20px; font-size:40px;" title="Requirement Search"></i></button></a></li>
                <li ><a><button class="btn"><i class="fa fa-plus" aria-hidden="true" style="color:black; float:right; margin-right:15px; margin-top:1px; margin-bottom:20px; font-size:40px;" title="Add Requirements"></i></button></a></li>
                <li ><a><button class="btn"><i class="fa fa-search" aria-hidden="true" style="color:black; float:right; margin-right:15px; margin-top:1px; margin-bottom:20px; font-size:40px;" title="Candidtate Search"></i></button></a></li>
                <li ><a><button class="btn"><i class="fa fa-users" aria-hidden="true" style="color:black; float:right; margin-right:15px; margin-top:1px; margin-bottom:20px; font-size:40px;" title="Add Candidate"></i></button></a></li>
                <li ><a><button class="btn"><i class="fa fa-envelope" aria-hidden="true" style="color:black; float:right; margin-right:15px; margin-top:1px; margin-bottom:20px; font-size:40px;" title="Email Notifications"></i></button></a></li>
                
            </ul>
        </div>

<<<<<<< HEAD
        <!-- Page content -->
        <div id="page-content-wrapper">
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        @RenderBody()
                    </div>
=======
    <div class="container-fluid"  style="min-height: 85vh;">
        <div class="row content">
            <div class="col-md-3 sm-3" style="margin-left:0px;" >
                <div class="sidebar left ">
                    <ul class="list-sidebar bg-defoult">
                        <li>
                            <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active"> <i class="fa fa-th-large"></i> <span class="nav-label"> Dashboards </span> <span class="fa fa-chevron-left pull-right"></span> </a>
                            <ul class="sub-menu collapse" id="dashboard">
                                <li class="active"><a href="#">CSS3 Animation</a></li>
                                <li><a href="#">General</a></li>
                                <li><a href="#">Buttons</a></li>
                            </ul>
                        </li>
                        <li> <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a> </li>
                        <li>
                            <a href="#" id="btn-1" data-toggle="collapse" data-target="#products" class="collapsed active"> <i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span> <span class="fa fa-chevron-left pull-right"></span> </a>
                            <ul class="sub-menu collapse" id="products">
                                <li class="active"><a href="#">CSS3 Animation</a></li>
                                <li><a href="#">General</a></li>
                                <li><a href="#">Buttons</a></li>
                            </ul>
                        </li>
                        <li> <a href="#"><i class="fa fa-laptop"></i> <span class="nav-label">Grid options</span></a> </li>
                        <li>
                            <a href="#" data-toggle="collapse" data-target="#tables" class="collapsed active"><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa fa-chevron-left pull-right"></span></a>
                            <ul class="sub-menu collapse" id="tables">
                                <li><a href=""> Static Tables</a></li>
                                <li><a href=""> Data Tables</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-toggle="collapse" data-target="#e-commerce" class="collapsed active"><i class="fa fa-shopping-cart"></i> <span class="nav-label">E-commerce</span><span class="fa fa-chevron-left pull-right"></span></a>
                            <ul class="sub-menu collapse" id="e-commerce">
                                <li><a href=""> Products grid</a></li>
                                <li><a href=""> Products list</a></li>
                            </ul>
                        </li>
                        <li> <a href=""><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrics</span> </a></li>
                    </ul>
>>>>>>> 11d9b81334da396d643a6c3d63e29ae8785edb47
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD

    <footer class="border-top footer text-muted">
        <div class="container" style="margin-left: 150px; margin-top:320px;">
            &copy; 2019 - summer19 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
=======
    <footer class="container-fluid" style="background-color: #3498db; color: #fff; padding: 15px;">
        <h5 style="text-align:center">Corporate Mangement </h5>
>>>>>>> 11d9b81334da396d643a6c3d63e29ae8785edb47
    </footer>

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
